.Header {
  height: 80px;
  background-color: darkslategrey;
  color: azure;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  h1 {
    font-size: 22px;
    font-weight: bold;
    color: cyan;
    @media screen and (max-width: 430px) {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 430px) {
  p {
    font-size: 14px;
  }
}
